@model List<StudentModel>
@{
    ViewData["Title"] = "students list";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Student" asp-action="Add">Add new Studen</a>
    </div>
    <br />

    <h1 class="display-4">Students List</h1>

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">SSN</th>
                <th scope="col">Year</th>
                <th scope="col"></th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (StudentModel student in Model)
                {  
                    <tr>
                        <th scope="row">@student.Id</th>
                        <td>@student.FullName</td>
                        <td>@student.Ssn</td>
                        <td>@student.Year</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@student.Id" asp-controller="Student" asp-action="Edit">Edit</a>
                                <a role="button" class="btn btn-danger"  asp-route-id="@student.Id" asp-controller="Student" asp-action="DeleteConfirm">Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    
</div>

